* ,::before, ::after{ margin: 0; box-sizing: border-box; }
html{ font-size: 15px; scroll-behavior: smooth; }
body{ font: 16px/1.3 'Trebuchet MS'; }
a{ text-decoration: none; }
label{ display: inline-block; }

.container{ max-width: 1200px; margin: auto; }

button{ cursor: pointer; }
.btn:enabled:active{ background: #aaa; }
:disabled{ cursor: not-allowed; }

.container{
    text-align: center;
    margin-top: 40px;
}

h1{
    margin: 10px;
}

.calculator{ 
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;

}

#res{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 900;
}

input[type=button]{
    padding: 10px; border-radius: 5px; width: 50px;
}

input[type=button]:hover{
    background: black;
    color: white    ;
}